<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Dashboard"
         connectionString="Data Source=172.16.0.233\MSSQLSERVER,1433; Initial Catalog=master; user id=sa; password=J@ntrik007#"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="live-url" value="http://test.emos.io/" />
    <add key="local-url" value="http://172.16.0.233:8088/login.aspx"/>
    <add key="little-pause" value="5000"/>
    <add key="inactive-phase" value="10000"/>
    <add key="very-inactive-phase" value="15000"/>
  </appSettings>
</configuration>